<%= simple_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :user %>
    <%= f.association :region %>
    <%= f.association :city %>
    <%= f.association :district %>
    <%= f.input :detail_address %>
    <%= f.input :content %>
    <%= f.input :contact_name %>
    <%= f.input :contact_phone %>
    <%= f.input :website %>
    <%= f.input :source %>
    <%= f.input :source_url %>
    <%= f.input :is_processed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
