<h1>微店信息</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>地址</th>
      <th>联系人</th>
      <th>链接</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.title %></td>
        <td><%= show_region(shop) %> <%= shop.detail_address %></td>
        <td><%= shop.contact_name %></td>
        <td><%= shop.website %></td>
        <td><%= link_to '详细', shop %> &nbsp;|&nbsp; <%= link_to '微网', m_shop_path(shop) %></td>
        <% if shop.user_id == current_user.id %>
          <td><%= link_to '编辑', edit_shop_path(shop) %></td>
          <td><%= link_to '删除', shop, method: :delete, data: { confirm: '确定要删除?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @shops %>
<br>

<%= link_to '我要创建', new_shop_path, class: 'btn btn-primary' %>
