<div id="content" class="content section row">

  <div class="col-md-6 bg-base col-lg-8 col-xl-9">

    <div class="ribbon ribbon-highlight">
        <ol class="breadcrumb ribbon-inner">
          <li><a href="/">首页</a></li>
          <li><a href="/shops">商家信息</a></li>
          <li class="active"><a href="/shops/<%= @shop.id %>"><%= @shop.title %></a></li>
        </ol>
    </div>
    <header class="page-header">
        <div class="page-meta pull-right hidden-xs">
            <a href="#comments">
                <span class="comments-count-balloon bg-primary"><%= @shop.pv %><em>访问次数</em></span>
            </a>
        </div>

        <h2 class="page-title">
          <%= @shop.title %>
        </h2>
    </header>

    <article class="entry style-single type-post">        
        <%= simple_format @shop.content %>
        <div class="entry-content indented">
            <p class="lead">
                <strong>联系人:</strong><%= @shop.contact_name %><br/>
                <strong>联系地址:</strong><%= show_region(@shop) %><%= @shop.detail_address %><br/>
                <strong>联系电话:</strong><%= show_mobile_phone(@shop.mobile_phone) || image_tag(@shop.mobile_phone_url) %><br/>
                <strong>电子邮件:</strong><%= show_email @shop.email %><br/>
            </p>
        </div>
    </article>

    
  </div><!--/.col-md-8.col-lg-8.col-xl-9-->

  <div class="sidebar col-md-6 col-lg-4 col-xl-3">
    <%= render partial: 'layouts/sidebar_shop', locals: { shop: @shop } %>
  </div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

</div><!--/#content-->
