<div class="section section-no-margin-bottom row entries" >

  <article class="entry style-grid style-hero hero-nav type-post col-lg-6 col-xs-12 col-sm-12" style="height: 220px;">
    
    <header class="entry-header">
      <p class="small"></p>
      <h1 class="text-center">我是技师</h1>
      <br/>
    </header>

    <div class="text-center">
      <a href="/resumes/new" class="btn btn-lg btn-success">制作微简历</a> &nbsp;&nbsp;<a href="/jobs" class="btn btn-lg btn-success">找工作</a>
    </div>

    <figure class="entry-thumbnail">

      <div class="overlay overlay-primary"></div>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/b1.jpg" data-src="/assets/b1.jpg" data-src-retina="/assets/720x420_1.jpg" width="480" height="280" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/b1.jpg" alt=""&gt;
      </noscript>

    </figure>
  </article>

  <article class="entry style-grid style-hero hero-nav type-post col-lg-6 col-xs-12 col-sm-12" style="height: 220px;">
    
    <header class="entry-header">
      <p class="small"></p>
      <h1 class="text-center">我是商家</h1>
      <br/>
    </header>

    <div class="text-center">
      <a href="/dashboard/post" class="btn btn-lg btn-success">信息发布</a>&nbsp;&nbsp; <a href="/shops/new?type=shop" class="btn btn-lg btn-success">开通微店</a>
    </div>

    <figure class="entry-thumbnail">

      <div class="overlay overlay-primary"></div>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/b3.jpg" data-src="/assets/b3.jpg" data-src-retina="/assets/720x420_1.jpg" width="480" height="280" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/480x280_1.jpg" alt=""&gt;
      </noscript>

    </figure>
  </article>

</div>


<div class="section content bg-base">
  
  <h2 class="section-title ribbon"><span>足浴技师信息</span></h2>
  
  <div class="entries">

    <div class="row">

      <% Job.recent(12).each do |job| %>
        <article class="entry type-post style-thumbnail-text col-sm-6 col-md-2 colheight-sm-1">
          
          <div class="entry-meta">
            <span class="category">
              <% if job.cate_id %>
                <%= link_to ApplicationHelper::JOB_CATES[job.cate_id], cate_jobs_path(job.cate_id) %>
              <% else %>
                <%#= link_to job., '#' %>
              <% end %>
            </span>
          </div>

          <h3 class="entry-title">
            <%= link_to job.title, job_path(job), rel: 'bookmark' %>
          </h3>
          <%= get_short_content(job.content, 60) %>
        </article>
      <% end %>

    </div><!--row.-->

  </div><!--entries.-->

</div><!-- bg-base end -->

<div class="section content bg-base">
  
  <h2 class="section-title ribbon"><span>足浴商家招聘信息</span></h2>
  
  <div class="entries">

    <div class="row">

      <% Shop.recent(12).each do |shop| %>
        <article class="entry type-post style-thumbnail-text col-sm-6 col-md-2 colheight-sm-1">
          
          <div class="entry-meta">
            <span class="category">
              <% if shop.city %>
                <%= link_to shop.city.name, '#' %>
              <% else %>
                <%= link_to shop.detail_address, '#' %>
              <% end %>
            </span>
          </div>

          <h3 class="entry-title">
            <%= link_to shop.title, shop_path(shop), rel: 'bookmark' %>
          </h3>
          <%= get_short_content(shop.content, 60) %>
        </article>
      <% end %>

    </div><!--row.-->

  </div><!--entries.-->

</div><!-- bg-base end -->
