<div class="section row entries bg-primary section-no-margin-bottom">

  <article class="entry style-grid style-hero hero-sm-largest type-post col-sm-12 col-md-6 colheight-sm-1 colheight-md-2 colheight-lg-2 colheight-xl-2">
    
    <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
      <a href="blog.html">Category Name</a>
    </div>

    <header class="entry-header">
      <h3 class="entry-title"><a href="single.html">This can be use for hand picked featured posts by staffs - sit voluptatem accusantium doloremque laudantium</a> </h3>
      <div class="entry-meta">
        <span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
        <span class="entry-author"> by <a href="blog.html">John Doe</a></span>
      </div>
    </header>

    <figure class="entry-thumbnail">

      <a href="single.html" class="overlay overlay-primary"></a>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/680x452_2.jpg" data-src="/assets/680x452_2.jpg" data-src-retina="/assets/1024x680_2.jpg" width="680" height="452" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/680x452_2.jpg" alt=""&gt;
      </noscript>

    </figure>

  </article>

  <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
    
    <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
      <a href="">Entertainment</a>
    </div>

    <header class="entry-header">
      <h3 class="entry-title"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a> </h3>
      <div class="entry-meta">
        <span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
        <span class="entry-author"> by <a href="blog.html">John Doe</a></span>
      </div>
    </header>
    
    <figure class="entry-thumbnail">

      <a href="single.html" class="overlay overlay-primary"></a>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/480x280_1.jpg" data-src="/assets/480x280_1.jpg" data-src-retina="/assets/720x420_1.jpg" width="480" height="280" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/480x280_1.jpg" alt=""&gt;
      </noscript>

    </figure>

  </article>

  <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
    
    <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
      <a href="blog.html">Event</a>
    </div>

    <header class="entry-header">
      <h3 class="entry-title"><a href="single.html">Rumor: The long awaited update for Retina Display is ready to be annaunced on the next event held by them</a> </h3>
      <div class="entry-meta">
        <span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
        <span class="entry-author"> by <a href="blog.html">John Doe</a></span>
      </div>
    </header>
    
    <figure class="entry-thumbnail">

      <a href="single.html" class="overlay overlay-primary"></a>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/680x452_1.jpg" data-src="/assets/680x452_1.jpg" data-src-retina="/assets/1024x680_1.jpg" width="680" height="452" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/680x452_1.jpg" alt=""&gt;
      </noscript>

    </figure>

  </article>

  <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
    
    <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
      <a href="blog.html">Social Media</a>
    </div>

    <header class="entry-header">
      <h3 class="entry-title"><a href="single.html">Postman will send notifications to your flashy smartphone about popular people and their latest shouts.</a> </h3>
      <div class="entry-meta">
        <span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
        <span class="entry-author"> by <a href="blog.html">John Doe</a></span>
      </div>
    </header>
    
    <figure class="entry-thumbnail">

      <a href="single.html" class="overlay overlay-primary"></a>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/480x280_3.jpg" data-src="/assets/480x280_3.jpg" data-src-retina="/assets/720x420_3.jpg" width="480" height="280" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/480x280_3.jpg" alt=""&gt;
      </noscript>

    </figure>

  </article>

  <article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
    
    <div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
      <a href="blog.html">Social Media</a>
    </div>

    <header class="entry-header">
      <h3 class="entry-title"><a href="single.html">Postman will send notifications to your flashy smartphone about popular people and their latest shouts.</a> </h3>
      <div class="entry-meta">
        <span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">20 hours ago</time></a></span>
        <span class="entry-author"> by <a href="blog.html">John Doe</a></span>
      </div>
    </header>
    
    <figure class="entry-thumbnail">

      <a href="single.html" class="overlay overlay-primary"></a>

      <!-- to disable lazy loading, remove data-src and data-src-retina -->
      <img src="/assets/480x280_4.jpg" data-src="/assets/480x280_4.jpg" data-src-retina="/assets/720x420_4.jpg" width="480" height="280" alt="" style="opacity: 1;">

      <!--fallback for no javascript browsers-->
      <noscript>
        &lt;img src="/assets/480x280_4.jpg" alt=""&gt;
      </noscript>

    </figure>

  </article>
</div>

<div class="section content bg-base">
  
  <h2 class="section-title ribbon"><span>足疗足浴招聘信息</span></h2>
  
  <div class="entries">

    <div class="row">

      <% Job.recent(12).each do |job| %>
        <article class="entry type-post style-thumbnail-text col-sm-6 col-md-2 colheight-sm-1">
          
          <div class="entry-meta">
            <span class="category">
              <% if job.cate_id %>
                <%= link_to ApplicationHelper::JOB_CATES[job.cate_id], cate_jobs_path(job.cate_id) %>
              <% else %>
                <%#= link_to job., '#' %>
              <% end %>
            </span>
          </div>

          <h3 class="entry-title">
            <%= link_to job.title, job_path(job), rel: 'bookmark' %>
          </h3>
          <%= get_short_content(job.content, 60) %>
        </article>
      <% end %>

    </div><!--row.-->

  </div><!--entries.-->

</div><!-- bg-base end -->

<div class="section content bg-base">
  
  <h2 class="section-title ribbon"><span>足疗足浴商家信息</span></h2>
  
  <div class="entries">

    <div class="row">

      <% Shop.recent(12).each do |shop| %>
        <article class="entry type-post style-thumbnail-text col-sm-6 col-md-2 colheight-sm-1">
          
          <div class="entry-meta">
            <span class="category">
              <% if shop.city %>
                <%= link_to shop.city.name, '#' %>
              <% else %>
                <%= link_to shop.detail_address, '#' %>
              <% end %>
            </span>
          </div>

          <h3 class="entry-title">
            <%= link_to shop.title, shop_path(shop), rel: 'bookmark' %>
          </h3>
          <%= get_short_content(shop.content, 60) %>
        </article>
      <% end %>

    </div><!--row.-->

  </div><!--entries.-->

</div><!-- bg-base end -->
