<div id="content" class="content section row">

  <div class="col-md-6 bg-base col-lg-8 col-xl-9">

    <div class="ribbon ribbon-highlight">
        <ol class="breadcrumb ribbon-inner">
          <li><a href="/">首页</a></li>
          <li class="active"><a href="/cate/<%= @product.cate_id %>/products"><%= @cate_name %></a></li>
        </ol>
    </div>
    <header class="page-header">
        <div class="page-meta pull-right hidden-xs">
            <a href="#comments">
                <span class="comments-count-balloon bg-primary"><%= @product.pv %><em>浏览次数</em></span>
            </a>
        </div>

        <h2 class="page-title">
          <%= @product.title %>
        </h2>
    </header>

    <article class="entry style-single type-post">        
        <%= simple_format @product.content %>
        <div class="entry-content indented">
            <p class="lead">
                <% unless @product.price.blank? %> <strong>价格:</strong><%= @product.price %><br/> <% end %>
                <strong>联系地址:</strong><%= show_region(@product) %><%= @product.detail_address %><br/>
                <strong>联系电话:</strong><a href="tel:<%= @product.user.mobile_phone %>"><%= show_mobile_phone @product.user.mobile_phone %></a><br/>
                <strong>电子邮件:</strong><%= show_email @product.user.email %><br/>
            </p>
        </div>
    </article>

  </div><!--/.col-md-8.col-lg-8.col-xl-9-->

  <div class="sidebar col-md-6 col-lg-4 col-xl-3">
    <% if @product.user.shop %>
      <%= render partial: 'layouts/sidebar_shop', locals: { shop: @product.user.shop } %>
    <% end %>
  </div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

</div><!--/#content-->
