<div class="footer-top container">
  <div class="row hidden-xs hidden-sm">
    <div class="widget col-xs-12 col-sm-4">
      <h4 class="widget-title">产品分类</h4>
      <ul class="entries links links-2-cols">
        <% ApplicationHelper::PRODUCT_CATES.each_with_index do |cate, index| %>
          <li><%= link_to cate, new_product_path(cate_id: index)%></li>
        <% end %>
        <li><%=link_to '发布简历', new_resume_path %></li>
      </ul>
    </div><!--/.col-3-->
    <div class="clearfix visible-xs"></div>
    <div class="widget col-xs-6 col-sm-2">
      <h4 class="widget-title">企业招聘</h4>
      <ul class="entries links links">
        <% ApplicationHelper::JOB_CATES.each_with_index do |cate, index| %>
          <li><%= link_to cate, new_job_path(cate_id: index)%></li>
        <% end %>
      </ul>
    </div><!--/.col-3-->
    <div class="widget col-xs-6 col-sm-2">
      <h4 class="widget-title">商务合作</h4>
      <ul class="entries links">
        <li><%= link_to '关于我们', page_path('about') %></li>
        <li><%= link_to '加入我们', page_path('join') %></li>
        <li><%= link_to '足浴厂商', page_path('for_biz') %></li>
        <li><%= link_to '店铺会所', page_path('for_shop') %></li>
        <li><%= link_to '合作协议', page_path('co') %></li>
      </ul>
    </div><!--/.col-3-->
    <div class="clearfix visible-xs"></div>
    <div class="widget col-xs-12 col-sm-4">
      <h4 class="widget-title">关注足浴114</h4>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-lg-10">
            <div class="row">
              <div class="col-md-6 text-center">
                <img src="/assets/qr_zuyu114.png" width="100px" class="img-responsive" alt="足浴114二维码" />
                <div>手机网站</div>
              </div>
              <div class="col-md-6 text-center">
                <img src="/assets/qr_weixin.png" width="100px" class="img-responsive" alt="足浴114微信公共号" />
                <div>微信公共号</div>
              </div>
          </div>
        </div>
      </form>
    </div><!--/.col-3-->
  </div><!--row.-->
</div>
<div class="footer-bottom">
  <div class="container aligncenter">
    <p>
    <%= link_to '联系我们', page_path('contact') %>&nbsp; &nbsp;
    <%= link_to '隐私保护', page_path('protect') %>&nbsp; &nbsp;
    <%= link_to '免责声明', page_path('privacy') %>&nbsp; &nbsp;
    &copy;2014 蜀备110105000809号 &nbsp;&nbsp;&nbsp;&nbsp; 违法信息举报：022-6062 5989/5991
    <a href="http://www.szfw.org/" target="_blank"><img src="/assets/chengxin.png" alt="诚信网站" /></a> </p>
    <p>
    主办单位：四川省智信家具制作有限公司； 协办单位：四川省反射医学协会
    </p>
  </div>
</div>
