<nav id="header" class="header-navbar" role="navigation">

  <div class="header-navbar-inner container">
  
    <div id="brand" class="navbar-brand">
      <a href="/" rel="bookmark">
        <!-- to disable lazy loading, remove data-src and data-src-retina -->
        <img src="/assets/logo.png" data-src="/assets/logo.png" data-src-retina="/assets/logo-retina.png" width="244" height="56" alt="">

        <!--fallback for no javascript browsers-->
        <noscript>
          <img src="/assets/logo.png" alt="足浴114">
        </noscript>
      </a>
    </div>

    <ul class="nav nav-pages hidden-xs">
    <li style="margin-right: 300px; font-size: 24px; font-weight: 600; color: red;">中国足浴行业免费信息服务平台!</li>
      <li><%= link_to 'www.zuyu114.com', '/' %></li>
      <%= render 'layouts/navigation_links' %>
    </ul>

    <ul class="nav nav-icons">
      <li>
        <a href="#" class="btn-icon" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in">
          <span class="search-toggled-out-icon glyphicon glyphicon-search"></span>
          <span class="search-toggled-in-icon glyphicon glyphicon-remove"></span>
        </a>
      </li>
    </ul>

    <div class="search-wrapper js-stoppropagation">
      <div class="search-wrapper-inner">
        <%= form_tag search_path, :method => 'get' do %>
          <input type="text" name="search" value="" placeholder="输入搜素关键词 ... ">
          <button class="btn-icon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        <% end %>
      </div>
    </div>

    <ul class="nav navbar-nav">
      <li class="nav-all pull-right full-subnav-wrapper">

        <a href="#" data-toggle="li"> 
          <span class="text hidden-sm hidden-xs">网站导航</span>
          <span class="toggle glyphicon glyphicon-align-justify"></span>
        </a>

        <div class="row subnav-wrapper">
          
          <div class="col-md-2 col-sm-2 bg-bar">
            <strong class="subnav-header">企业信息</strong>
            <ul class="subnav-full">
              <% ApplicationHelper::PRODUCT_CATES.each_with_index do |cate, index| %>
                <li><%= link_to cate, cate_products_path(cate_id: index)%></li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">招聘信息</strong>
            <ul class="subnav-full">
              <% ApplicationHelper::JOB_CATES.each_with_index do |cate, index| %>
                <li><%= link_to cate, cate_jobs_path(cate_id: index)%></li>
              <% end %>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">足浴行业</strong>
            <ul class="subnav-full">
              <%= get_menu('baike') %>
              <%= get_menu('shop') %>
              <%= get_menu('dianpu') %>
              <%= get_menu('news') %>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">个人服务</strong>
            <ul class="subnav-full">
              <li><%= link_to '求职简历', resumes_path %></li>
              <li><%= link_to '我要求职', new_resume_path %></li>
              <li><%= link_to '个人增值服务', page_path('for_user') %></li>
              <li><%= link_to '个人用户登录', new_user_session_path %></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">商家合作</strong>
            <ul class="subnav-full">
              <li><%= link_to '关于我们', page_path('about') %></li>
              <li><%= link_to '足浴厂商', page_path('for_biz') %></li>
              <li><%= link_to '店铺会所', page_path('for_shop') %></li>
              <li><%= link_to '合作协议', page_path('co') %></li>
            </ul>
          </div>

          <div class="col-md-2 col-sm-2">
            <strong class="subnav-header">关注我们</strong>
            <ul class="subnav-full">
              <li><a href="#"><img src="/assets/zuyu114_qr.png" width="100px" class="img-responsive" alt="足浴114二维码" /></a></li>
              <li><a href="#">关注微信公共号</a></li>
            </ul>
          </div>

        </div>
      </li>
      <li class="active"><a href="/dashboard/post">免费发布</a></li>
      <li><%= link_to '技师信息', resumes_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">足浴招聘<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% ApplicationHelper::JOB_CATES.each_with_index do |cate, index| %>
        <li><%= link_to cate, cate_jobs_path(cate_id: index)%></li>
      <% end %>
        </ul>
      </li>
      <% ApplicationHelper::PRODUCT_CATES.each_with_index do |cate, index| %>
        <li><%= link_to cate, cate_products_path(cate_id: index)%></li>
      <% end %>
      <%= get_menu('baike') %>
      <%= get_menu('shop') %>
      <%= get_menu('dianpu') %>
      <%= get_menu('news') %>
    </ul>

  </div>
</nav>
